* {
    margin: 0;
    padding: 0;
}

body {
    background: #F2EAE2;
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 160px;
    width: 100%;
}

.photo img {
    border-radius: 10px 0 0 10px;
    height: 500px;
    float: left;
}

.container {
    background-color: hsl(0, 0%, 100%);
    border-radius: 0 10px 10px 0;
    height: 500px;
    width: 350px;
    float: right;
    margin-top: 50px;
}

.container h1 {
    margin: 15px;
    padding-bottom: 20px;
    font-family: Fraunces;
    font-weight: 700;
}

.container h3 {
    margin: 15px;
    padding-bottom: 20px;
    font-family: Montserrat;
    font-weight: 500;
}

s {
    margin: 26px;
    margin-right: 100px;
    padding-bottom: 20px;;
    font-family: Montserrat;
    font-weight: 500;
    float: right;
}

p {
    margin: 15px;
    line-height: 30px;
    font-family: Montserrat;
    font-weight: 500;
    padding-bottom: 20px;
}

button {
    margin: 10px;
    margin-left: 50px;
    color: hsl(0, 0%, 100%);
    border-radius: 10px;
    background-color: hsl(158, 61%, 31%);
    font-family: Montserrat;
    font-weight: 500;
    padding: 10px;
    width: 70%;
    border: 0;
}

svg {    
    padding-right: 30px;
}

.price {
    color: hsl(158, 61%, 31%);
    float: left;
}

footer {
    height: 50px;
    clear: both;
    display: flex;
    align-items: center;
}

.attribution {
    display: block;
    width: 100%;
    font-size: 11px;
    text-align: center;
    float: none;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}